In [75]:
import pandas as pd

In [76]:
# 1. Загрузить, просмотреть, определить количество строк и склеить 3 датасета:
# marketing_campaign.csv, users.csv и subscribers.csv.

In [77]:
# Загрузка и просмотр: marketing_campaign.csv
df = pd.read_csv('marketing_campaign.csv')
df.head(10)

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True
3,a1003,1/1/18,House Ads,personalization,English,True
4,a1004,1/1/18,House Ads,personalization,English,True
5,a1005,1/1/18,House Ads,personalization,German,True
6,a1006,1/1/18,House Ads,personalization,English,True
7,a1007,1/1/18,House Ads,personalization,English,True
8,a1008,1/1/18,House Ads,personalization,English,True
9,a1009,1/1/18,House Ads,personalization,English,True

In [78]:
# Количество строк
len(df)

10037

In [79]:
# Создание датафрейма из первого датасета для дальнейшего объединения
df_marketing_campaign = df[["user_id", "date_served", "marketing_channel", "variant", "language_displayed", "converted"]]
print(df_marketing_campaign.shape)
df_marketing_campaign.head(10)

(10037, 6)

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True
3,a1003,1/1/18,House Ads,personalization,English,True
4,a1004,1/1/18,House Ads,personalization,English,True
5,a1005,1/1/18,House Ads,personalization,German,True
6,a1006,1/1/18,House Ads,personalization,English,True
7,a1007,1/1/18,House Ads,personalization,English,True
8,a1008,1/1/18,House Ads,personalization,English,True
9,a1009,1/1/18,House Ads,personalization,English,True

In [80]:
# Загрузка и просмотр: users.csv
df = pd.read_csv('users.csv')
df.head(10)

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English
3   a1003  30-36 years            English
4   a1004  36-45 years            English
5   a1005  45-55 years             German
6   a1006    55+ years            English
7   a1007   0-18 years            English
8   a1008  19-24 years            English
9   a1009  24-30 years            English

In [81]:
# Количество строк
len(df)

10037

In [82]:
# Создание датафрейма из второго датасета для дальнейшего объединения
df_users = df[["user_id", "age_group", "language_preferred"]]
print(df_users.shape)
df_users.head(10)

(10037, 3)

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English
3   a1003  30-36 years            English
4   a1004  36-45 years            English
5   a1005  45-55 years             German
6   a1006    55+ years            English
7   a1007   0-18 years            English
8   a1008  19-24 years            English
9   a1009  24-30 years            English

In [83]:
# Загрузка и просмотр: subscribers.csv
df = pd.read_csv('subscribers.csv')
df.head(10)

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True
3   a1003           House Ads          1/1/18           NaN        True
4   a1004           House Ads          1/1/18           NaN        True
5   a1005           House Ads          1/1/18           NaN        True
6   a1006           House Ads          1/1/18           NaN        True
7   a1007           House Ads          1/1/18           NaN        True
8   a1008           House Ads          1/1/18           NaN        True
9   a1009           House Ads          1/1/18           NaN        True

In [84]:
# Количество строк
len(df)

10037

In [85]:
# Создание датафрейма из третьего датасета для дальнейшего объединения
df_subscribers = df[["user_id", "subscribing_channel", "date_subscribed", "date_canceled", "is_retained"]]
print(df_subscribers.shape)
df_subscribers.head(10)

(10037, 5)

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True
3   a1003           House Ads          1/1/18           NaN        True
4   a1004           House Ads          1/1/18           NaN        True
5   a1005           House Ads          1/1/18           NaN        True
6   a1006           House Ads          1/1/18           NaN        True
7   a1007           House Ads          1/1/18           NaN        True
8   a1008           House Ads          1/1/18           NaN        True
9   a1009           House Ads          1/1/18           NaN        True

In [86]:
# Объединение первых двух датасетов
df_marketing_campaign_users = df_marketing_campaign.merge(df_users, left_on = ["user_id"], right_on = ["user_id"], how = "left")
df_marketing_campaign_users

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,0-18 years,English
1,a1001,1/1/18,House Ads,personalization,English,True,19-24 years,English
2,a1002,1/1/18,House Ads,personalization,English,True,24-30 years,English
3,a1003,1/1/18,House Ads,personalization,English,True,30-36 years,English
4,a1004,1/1/18,House Ads,personalization,English,True,36-45 years,English
...,...,...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True,45-55 years,German
10033,a11033,1/17/18,Email,control,German,True,55+ years,German
10034,a11034,1/5/18,Instagram,control,German,False,55+ years,German
10035,a11035,1/17/18,Email,control,German,True,0-18 years,German
10036,a11036,1/6/18,Facebook,control,German,False,0-18 years,German

In [87]:
# Объединение трёх датасетов
df_marketing_campaign_users_subscribers = df_marketing_campaign_users.merge(df_subscribers, left_on = ["user_id"], right_on = ["user_id"], how = "left")
df_marketing_campaign_users_subscribers

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,1/1/18,House Ads,personalization,English,True,0-18 years,English,House Ads,1/1/18,NaN,True
1,a1001,1/1/18,House Ads,personalization,English,True,19-24 years,English,House Ads,1/1/18,NaN,True
2,a1002,1/1/18,House Ads,personalization,English,True,24-30 years,English,House Ads,1/1/18,NaN,True
3,a1003,1/1/18,House Ads,personalization,English,True,30-36 years,English,House Ads,1/1/18,NaN,True
4,a1004,1/1/18,House Ads,personalization,English,True,36-45 years,English,House Ads,1/1/18,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True,45-55 years,German,Email,1/17/18,1/24/18,False
10033,a11033,1/17/18,Email,control,German,True,55+ years,German,Email,1/17/18,NaN,True
10034,a11034,1/5/18,Instagram,control,German,False,55+ years,German,Email,1/17/18,NaN,True
10035,a11035,1/17/18,Email,control,German,True,0-18 years,German,Email,1/17/18,NaN,True
10036,a11036,1/6/18,Facebook,control,German,False,0-18 years,German,Email,1/17/18,NaN,True

In [88]:
# 2. Определить количество, типы и описательные статистики колонок (столбцов) получившегося датасета.

In [89]:
# Количество
df_marketing_campaign_users_subscribers.shape

(10037, 12)

In [90]:
# Типы
df_marketing_campaign_users_subscribers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   age_group            10037 non-null  object
 7   language_preferred   10037 non-null  object
 8   subscribing_channel  1856 non-null   object
 9   date_subscribed      1856 non-null   object
 10  date_canceled        577 non-null    object
 11  is_retained          1856 non-null   object
dtypes: object(12)
memory usage: 1019.4+ KB

In [91]:
# Описательная статистика
df_marketing_campaign_users_subscribers.describe()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
count,10037,10021,10022,10037,10037,10022,10037,10037,1856,1856,577,1856
unique,10037,31,5,2,4,2,7,4,5,31,115,2
top,a1000,1/15/18,House Ads,control,English,False,19-24 years,English,Instagram,1/16/18,4/2/18,True
freq,1,789,4733,5091,9793,8946,1682,9275,600,163,15,1279

In [92]:
# 3. Определить эффективность маркетинговых каналов по привлечению платящих игроков.

In [98]:
df_marketing_campaign_users_subscribers.sort_values(by = "subscribing_channel", ascending = False)

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
646,a1646,1/16/18,House Ads,personalization,English,False,0-18 years,English,Push,1/16/18,NaN,True
1521,a2521,1/15/18,Push,personalization,English,True,19-24 years,English,Push,1/15/18,NaN,True
960,a1960,1/4/18,House Ads,control,English,False,55+ years,English,Push,1/4/18,1/11/18,False
961,a1961,1/4/18,House Ads,control,English,False,55+ years,English,Push,1/8/18,NaN,True
962,a1962,1/2/18,House Ads,personalization,English,False,0-18 years,English,Push,1/4/18,1/11/18,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9991,a10991,1/4/18,House Ads,control,English,False,45-55 years,English,NaN,NaN,NaN,NaN
9992,a10992,1/5/18,Facebook,control,English,False,55+ years,English,NaN,NaN,NaN,NaN
9993,a10993,1/6/18,Instagram,control,English,False,0-18 years,English,NaN,NaN,NaN,NaN
9994,a10994,1/7/18,House Ads,control,English,False,19-24 years,Spanish,NaN,NaN,NaN,NaN
9995,a10995,1/8/18,Facebook,control,English,False,24-30 years,English,NaN,NaN,NaN,NaN

In [94]:
# 4. Определить самую раннюю дату подписки на сервис.

In [95]:
df_marketing_campaign_users_subscribers.sort_values(by = "date_subscribed", ascending = True).head(1)

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,1/1/18,House Ads,personalization,English,True,0-18 years,English,House Ads,1/1/18,NaN,True

In [53]:
# 5. Определить портрет аудитории удержанных подписчиков (по возрасту и языку).

In [69]:
# Полная информация об удержанных пользователях
df_marketing_campaign_users_subscribers.loc[df_marketing_campaign_users_subscribers["is_retained"] == True]

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,1/1/18,House Ads,personalization,English,True,0-18 years,English,House Ads,1/1/18,NaN,True
1,a1001,1/1/18,House Ads,personalization,English,True,19-24 years,English,House Ads,1/1/18,NaN,True
2,a1002,1/1/18,House Ads,personalization,English,True,24-30 years,English,House Ads,1/1/18,NaN,True
3,a1003,1/1/18,House Ads,personalization,English,True,30-36 years,English,House Ads,1/1/18,NaN,True
4,a1004,1/1/18,House Ads,personalization,English,True,36-45 years,English,House Ads,1/1/18,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...
10023,a11023,1/17/18,Email,control,German,True,30-36 years,German,Email,1/17/18,NaN,True
10033,a11033,1/17/18,Email,control,German,True,55+ years,German,Email,1/17/18,NaN,True
10034,a11034,1/5/18,Instagram,control,German,False,55+ years,German,Email,1/17/18,NaN,True
10035,a11035,1/17/18,Email,control,German,True,0-18 years,German,Email,1/17/18,NaN,True
10036,a11036,1/6/18,Facebook,control,German,False,0-18 years,German,Email,1/17/18,NaN,True

In [68]:
# Портрет аудитории по возрасту
df_marketing_campaign_users_subscribers.loc[df_marketing_campaign_users_subscribers["is_retained"] == True, "age_group"]

0         0-18 years
1        19-24 years
2        24-30 years
3        30-36 years
4        36-45 years
            ...
10023    30-36 years
10033      55+ years
10034      55+ years
10035     0-18 years
10036     0-18 years
Name: age_group, Length: 1279, dtype: object

In [67]:
# Портрет аудитории по языку
df_marketing_campaign_users_subscribers.loc[df_marketing_campaign_users_subscribers["is_retained"] == True, "language_preferred"]

0        English
1        English
2        English
3        English
4        English
          ...
10023     German
10033     German
10034     German
10035     German
10036     German
Name: language_preferred, Length: 1279, dtype: object